/day01/node_modules
/day02/node_modules
/day06/node_modules
/day07/egg/node_modules
/day07/kgg/node_modules
/day09/ts-serve/node_modules
/day10/cluster/node_modules
/day11/wx/node_modules
/day12/security/node_modules
/node_modules